<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search" autocomplete="off">
            <div class="search field">
                <input placeholder="Pesquise por Cidade" type="text" name="search">
                <button>
                    <img src="/assets/icones/search.svg" alt="Buscar">
                </button>
            </div>

            <div class="search field">
                <input placeholder="Pesquise por Estado" type="text" name="search2">
                <button>
                    <img src="/assets/icones/search.svg" alt="Buscar">
                </button>
            </div>
            <label for="search">Deixe em branco para exibir todos os pontos cadastrados.</label>
        </form>
    </div>
</div>